@text-green:#3EBA70;
@text-grey:#FAFCFE;
@text-black:#000000;
@text-grey-999:#999999;
@text-grey-666:#666666;
@text-grey-333:#333333;
@text-grey-CCC:#CCCCCC;
@text-grey-BBB:#BBBBBB;
@text-grey-DDD:#DDDDDD;
@text-grey-8F:#8F8F8F;
@text-origen:#FFA647;
@text-blue:#409EFF;
@text-red:#FF3B30;
@text-white:#ffffff;

@bg-white:#ffffff;
@bg-grey:#F0F0F0;
@bg-grey-EFF:#EFF4F2;
@bg-green:#3EBA70;
@bg-green-E2F5EA:#E2F5EA;
@bg-light-grey:#F5F5F5;
@bg-light-green:#F3F9F6;
@bg-grey-E0E0E1:#E0E0E1;
@bg-grey-F7F8FB:#F7F8FB;

@btn-grey:#ECEEF2;

@border-grey:#EAEAEA;
@border-grey-999:#999999;
@border-grey-E0:#E0E0E0;

@font-16:16px;
@font-base:14px;
@font-12:12px;
@font-18:18px;

@border-radius-base:4px;
